:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --header-blue: #293449;
    --basic-red:  #EE3643;
    --hover-red: #CA2C37;
    --active-red: #BA2732;
    --link-green: #63A63E;
    --hover-green: #5FBB2D;
    --light-grey: #F3F7F9;
    --light-reg-grey:#C5C5C5;
    --hover-grey: rgba(197,197,197,0.3);
    --active-grey: rgba(169,169,169,0.3);
    --dark-blue: #32425C;
    --shadow-blue:  #293449;
    --active-blue: #1D2739;
    --active-dark-blue: #161D29;
    --menu-orange: #FFBF47;
    --menu-blue: #3BBCE3;
    --menu-purple: #DC91D8;
    --menu-green: #8ED78F;
    --menu-yellow: #FFC047;
    --basic-red: #EE3643;
    --opacity-white: rgba(255,255,255,0.3);
    --opacity-link-white:  rgba(255,255,255,0.5);
    --light-pink: #F9F5F0;
    --border-grey: #EAEAEA;
    --text-grey: #A9A9A9;
    --background-grey: #F1F5F7;
    --footer-beige: #FFD180;
    --footer-icon-blue: #212A3A;
    --footer-feedback-beige: #FFD180;
    --form-text-grey: #A9A9A9;
    --background-button-grey: #F4F4F4;
}

body {
    min-width: 1200px;
    margin: 0;
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: var(---basic-black); 
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}  

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.top-header {
    font-family: Cuprum;
    background-color: var(--light-grey);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0 0 60px 0;
}

.background-header {
    background-color: var(--header-blue);
}

.wrapper-links {
    display: flex;
    position: relative;
    align-items: center;
    color: var(--basic-white); 
}

.order-wrapper {
    display: flex;
    align-items: center;
    margin-left: 220px;
}

.header-links {
    display: flex;
    align-items: center;
}

.logo-technomart-main {
    position: absolute;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 49px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.form-search {
    margin-right: 35px;
}

.searching {
    position: relative;
    padding-left: 35px;
}

.searching::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
}

.searching:hover::before {
    opacity: 1;
}

.searching:hover::before {
    color: var(--opacity-link-white);
}

input[type="text"] {
    background-color: transparent;
    border: none;
    max-width: 150px;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.bookmark, .basket {
    padding: 10px 35px;
}

.bookmark {
    position: relative;
}

.bookmark::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/bookmark.svg);
    opacity: 0.3;
} 

.bookmark:hover::before {
    opacity: 1;
}

.bookmark:active {
    opacity: 0.5;
    background-color: var(--active-dark-blue);
}

.basket {
    position: relative;
}

.basket::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/basket.svg);
    opacity: 0.3;
}

.basket:hover::before {
    opacity: 1;
}

.basket:active {
    opacity: 0.5;
}

.order {
    background-color: var(--link-green);
    padding: 9px 16px 9px 19px;
}

.order:hover {
    background-color: var(--hover-green);
}

.order:active {
    color: var(--opacity-link-white);
}

.user-information {
    display: grid;
    grid-template-columns: 233px auto 120px 150px;
    gap: 10px;
    margin-top: 42px;
    margin-bottom: 40px;
}

.user-information h1 {
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    margin: 0;
    font-style: italic;
    padding-left: 30px;
}

.contacts {
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.phone {
    position: relative;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
    border: 3px solid var(--basic-white);
    padding: 7px 46px 8px 75px;
}

.phone::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 19px;
    top: 25%;
    left: 40px;
    background-image: url(../img/phone.svg);
}

.address {
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-blue);
    margin: 0;
    margin-top: 3px;
}

.login-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 21px;
    min-height: 45px;
    background-color: var(--basic-white);
    align-self: start;
}

.login-link::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
}

.login-link:hover::before {
    color: var(--basic-red);
    background-image: url(../img/login-hover.svg);
    background-repeat: no-repeat;
}

.login-link:active {
    color: var(--light-reg-grey);
}

.login-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 21px;
    min-height: 45px;
    background-color: var(--basic-white);
    align-self: start;
}

.login-reg:hover {
    color: var(--basic-red);
}

.login-reg:active {
    color: var(--light-reg-grey);
}

.main-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--basic-white);
    min-height: 60px;
    margin: 0;
    padding: 0;
    background: var(--dark-blue);
    box-shadow: inset 0px -5px 0px var(--shadow-blue);
} 

.nav-link {
    padding-top: 16px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

.nav-link:hover {
    background-color: var(--shadow-blue);
}

.nav-link:active {
    background-color: var(--active-blue);
    opacity: 0.5;
}

.menu  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    margin: 59px 0 59px 0;
}

.stuff {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
    padding: 0;
}

.materials {
    position: relative;
    background-color: var(--menu-orange);
    min-height: 123px;
}

.materials::after {
    position: absolute;
    content: "";
    width: 44px;
    height: 65px;
    right: 25%;
    bottom: 50%;
    transform: translate(75%, 50%);
    background-image: url(../img/materials.svg);
}

.instrument {
    position: relative;
    background-color: var(--menu-blue);
    min-height: 123px;
}

.instrument::after {
    position: absolute;
    content: "";
    width: 75px;
    height: 61px;
    right: 25%;
    bottom: 50%;
    transform: translate(75%, 50%);
    background-image: url(../img/instrument.svg);
}

.technics {
    position: relative;
    background-color: var(--menu-purple);
    min-height: 123px;
}

.technics::after {
    position: absolute;
    content: "";
    width: 78px;
    height: 62px;
    right: 25%;
    bottom: 50%;
    transform: translate(75%, 50%);
    background-image: url(../img/technic.svg);
}

.materials h3, 
.instrument h3, 
.technics h3, 
.discount h3, 
.delivery h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 14px;
    margin: 0;
}
.link-menu {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--opacity-white);
    margin-left: 23px;
}

.link-menu-materials {
    padding: 10px 24px 10px 23px;
}

.link-menu-instrument {
    padding: 10px 24px;
}

.link-menu-technics {
    padding: 10px 24px 10px 24px;
}

.link-menu-discount {
    padding: 10px 23px 10px 22px;
}

.link-menu-delivery {
    padding: 10px 37px 10px 36px;
}

.link-menu:hover {
    background-color: var(--hover-grey);
}

.link-menu:active {
    background-color: var(--active-grey);
}

.slider {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(../img/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-option {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-white);
    margin: 0;
    padding-top: 23px;
    padding-left: 24px;
    text-transform: uppercase;
}

.slider-perforator-no-show {
    display: none;
}

.slider-text {
    color: var(--basic-white);
    margin: 0;
    padding-top: 5px;
    padding-left: 24px;
}

.open-catalog {
    position: absolute;
    color: var(--basic-white);
    background-color: var(--basic-red);
    padding: 11px 46px 9px 46px;
    margin-top: 113px;
    margin-left: 24px;
}

.open-catalog:hover {
    background-color: var(--hover-red);
}

.open-catalog:active {
    background-color: var(--active-red);
}

.slider {
    position: relative;
}

.slider-back, .slider-forward {
    position: absolute;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    z-index: 1;
    cursor: pointer;
}

.slider-back {
    background-image: url(../img/button-back.svg);
    left: 5%
}

.slider-forward {
    background-image: url(../img/button-forward.svg);
    right: 5%;
}

.discount {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--menu-green);
    min-height: 123px;
}

.discount::after {
    position: absolute;
    content: "";
    width: 59px;
    height: 72px;
    right: 25%;
    bottom: 50%;
    transform: translate(75%, 50%);
    background-image: url(../img/discount.svg);
}

.delivery {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: var(--menu-yellow);
    min-height: 123px;
}

.delivery::after {
    position: absolute;
    content: "";
    width: 78px;
    height: 63px;
    right: 25%;
    bottom: 50%;
    transform: translate(75%, 50%);
    background-image: url(../img/delivery.svg);
}

.popular {
    display: flex;
    background-color: var(--light-pink);
    padding: 25px 14px 26px 28px;
}

.popular-header {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--dark-blue);
    margin: 0;
}

.section-link {
    margin-left: auto;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.button-goods {
    padding: 11px 24px 9px 24px;
}

.hits {
    display: flex;
    list-style: none;
    margin: 20px 0 70px 0;
    padding: 0;
}

.hits-item:not(:last-of-type) {
    margin-right: 20px;
}

.hits-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 220px;
    min-height: 318px;
    border: 1px solid var(--border-grey);
}

.hits-item h3 {
    font-size: 18px;
    line-height: 20px;
}

.hits-item-9000 {
    margin: 0 20px 7px 20px;
}

.hits-item-3000 {
    margin: 0 35px 7px 32px;
}

.hits-item-6000 {
    margin: 0 20px 7px 20px;
}

.hits-item-2000 {
    margin: 0 35px 7px 32px;
}

.old-price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--text-grey);
    margin: 0;
}

.new-price {
    background-image: url(../img/red-button.svg);
    background-repeat: no-repeat;
    padding: 10px 55px 10px 32px;
    margin-top: 13px;
    margin-bottom: 0;
    color: var(--basic-white);
}

.producer {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 0 50px 0;
    padding: 0;
}

.button-producer {
    padding: 11px 38px 9px 39px;
}

.brand:not(:nth-child(4n)) {
    margin-right: 20px;
}

.brand {
    margin-bottom: 20px;
}

.brand:hover {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brand:active {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    opacity: 0.5;
}

.service {
    background-color: var(--background-grey);
    padding: 64px 0 99px 0;
}

.services-header {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
}

.text-description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 20px;
}

.extra-service {
    position: relative;
    list-style: none;
    display: inline-block;
    min-width: 240px;
    padding: 0;
    margin: 0;
    margin-right: 80px;
}

.extra-service::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 279px;
    right: 5px;
    top: 0;
    transform: translateY(-20%);
    background-image: url(../img/shadow.svg);
    background-repeat: no-repeat;
}

.service-button {
    border: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.service-button:hover {
    background-color: var(--shadow-blue);
    color: var(--basic-white);
}
 
.service-button-delivery {
    background-color: var(--basic-white);
    color: var(--dark-blue);
    padding: 13px 139px 17px 22px;
}

.service-button-guaranty, 
.service-button-credit {
    background-color: var(--dark-blue);
    color: var(--basic-white);
}

.service-button-guaranty {
    padding: 14px 140px 18px 22px;
}

.service-button-credit {
    padding: 13px 156px 17px 22px;
}

.service-wrapper {
    display: flex;
    padding-top: 70px;
}

.delivery-header {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--dark-blue);
    margin: 0;
    margin-bottom: 30px;
}

.service-option {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.service-option-delivery {
    position: relative;
}

.service-option-delivery::after {
    position: absolute;
    content: "";
    width: 468px;
    height: 261px;
    right: -50%;
    transform: translateX(25%);
    top: 0;
    background-image: url(../img/truck.svg);
}

.service-option-guaranty {
    position: relative;
}

.service-option-guaranty:after {
    position: absolute;
    content: "";
    width: 389px;
    height: 283px;
    right: -50%;
    transform: translateX(25%);
    top: 0;
    background-image: url(../img/guaranty.png);
}

.service-option-credit {
    position: relative;
}

.service-option-credit:after {
    position: absolute;
    content: "";
    width: 465px;
    height: 285px;
    right: -50%;
    transform: translateX(25%);
    top: 0;
    background-image: url(../img/credit.png);
}

.button-credit {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    padding: 12px 45px 12px 44px;
    margin-top: 20px;
}

.service-option-not-show {
    display: none;
}
 
.info {
    position: relative;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: space-between;
}

.info-company {
    width: 460px
}

.company-header, .contacts-header {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0; 
}

.info-company .text-description {
    margin-top: 24px;
}

.delivery-company {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    margin-top: 1px;
}

.delivery-company-item {
    position: relative;
    padding-bottom: 12px;
}

.delivery-company-item::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    top: 25%;
    left: -8%;
    background-color: var(--basic-red);
}

.button-company {
    padding: 11px 40px 10px 39px;
    bottom: 0;
}

.info-contacts {
    width: 300px;
}

.info-contacts .text-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

.map-tehnomart {
    margin: 0;
    margin-bottom: 25px;
}

.button-contacts {
    padding: 11px 61px 9px 62px;
    bottom: 0;
}

.form {
    display: none;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 620px;
    min-height: 385px;
    background-color: var(--basic-white);
    border-top: 7px solid var(--basic-red);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    margin: auto;
}

.modal-show {
    display: block;
}

.form-wrapper {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 39px 80px 0 81px;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-bottom: 13px;
}

.data-wrapper {
    display: flex;
    flex-direction: column;
}

.data-wrapper-name {
    grid-column-start: 1;
    grid-column-end: 2;
}

.data-wrapper-mail {
    grid-column-start: 2;
    grid-column-end: 3;
}

.form input[type="text"] {
    min-width: 220px;
    font-size: 13px;
    line-height: 24px;
    color: var(--form-text-grey);
    border: 2px solid var(--light-reg-grey);;
}

.form-item {
    margin-bottom: 11px;
}

.letter {
    font-size: 13px;
    line-height: 24px;
    color: var(--form-text-grey);
    border: 2px solid var(--light-reg-grey);
}

.button-form {
    border: none;
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-red);
    color: var(--basic-white);
    margin: 0 auto;
    width: 100%;
    padding: 11px 0 9px 0;
}

.button-form-background {
    background-color: var(--background-button-grey);
    padding: 37px 80px;
    margin-top: 37px;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 7px;
    width: 21px;
    height: 21px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before, .modal-close::after {
    content: "";
    position: absolute;
    left: -25%;
    width: 21px;
    height: 3px;
    background-color: var(--basic-red);
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.footer-nav {
    display: flex;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 390px;
}

.footer-backgroung-nav {
    background-color: var(--dark-blue);
    padding-bottom: 54px;
}

.footer-backgroung-social {
    background-color: var(--shadow-blue);
}

.logo-footer {
    padding-bottom: 22px;
}
 
.footer-address,
.footer-phone {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.footer-nav-list, .footer-nav-catalog {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-nav-list {
    justify-content: space-between;
    color: var(--basic-white);
    padding-top: 37px;
    padding-bottom: 34px;
}

.footer-nav-list-item:hover,
.footer-nav-catalog-item:hover {
    text-decoration-line: underline;
}

.footer-nav-list-item:active,
.footer-nav-catalog-item:active {
    opacity: 0.5;
}

.footer-nav-list li:not(:last-child),
.footer-nav-catalog li:not(:last-child) {
    margin-right: 58px;
} 

.footer-nav-catalog {
    justify-content: flex-end;
    color: var(--footer-beige);
}

.footer-social-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 30px;
}

.copyright-wrapper {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.copyright-tehnomarkt {
    margin: 0;
}

.footer-networks {
    list-style: none;
    display: flex;
    margin: 0;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--footer-icon-blue);
    border-radius: 50%;
}

.social-button:hover,
.social-button:active {
    background-color: var(--basic-red);
}

.feedback, 
.copyright-by,
.copyright-academy-link
.mail-address {
    font-size: 16px;
    line-height: 18px;
}

.feedback,
.copyright-by {
    color: var(--basic-white);
    margin: 0;
}

.mail-address,
 .copyright-academy-link {
    color: var(--footer-feedback-beige);
}

.mail-address:active,
 .copyright-academy-link:active {
    color: var(--basic-red);
}












